* {
    box-sizing: border-box;
    margin: 0 auto;
}

.button {
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.button:hover {
    opacity: 0.8;
    transition-duration: 0.5s;
}

.button__withText,
.button__withIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 150px;
    height: 40px;
}

/************************************************************ header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221f1f;
    height: 80px;
}

/************************************************************ header burger menu */
.header__burger {
    margin: 0 10px 0 20px;
}

.header__burgerButton {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.button__lineBurger {
    width: 27px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
}

/*!************************************************************ header logo *!*/
.header__logo {
    margin: 0 10px;
}

.logo {
    display: block;
}

.logo__logoIcon {
    display: none;
}

/*!************************************************************ header catalog *!*/
.header__catalog {
    margin: 0 10px;
}

.button__withText_catalog {
    position: relative;
    width: 150px;
    height: 40px;
    background-color: #4e4c4c;
    color: #fff;
    font-size: 16px;
    padding-left: 30px;
    border-radius: 5px;
}

.button__withText_catalog:hover {
    background-color: #7a7979;
}

.button__withText_catalog::before {
    content: "";
    position: absolute;
    background-image: url("img/star.png");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 20px;
    width: 30px;
    height: 30px;
}

/*!************************************************************ header search *!*/
.header__search {
    width: 100%;
    margin: 0 10px;
}

.input {
    display: flex;
    align-items: center;
    height: 40px;
}

.input__field {
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: 2% 50%;
    background-size: 25px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
}

.button__withIcon_microphone {
    background-image: url("img/mic.png");
    width: 40px;
    height: 100%;
    background-size: 15px;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-left: 1px solid #b0b0b0;
}

.button__withText_search {
    background-color: #00a046;
    height: 100%;
    width: 100px;
    padding: 0 10px;
    border-radius: 0 5px 5px 0;
    color: #fff;
}

.button__withText_search:hover {
    opacity: 1;
    background-color: #00bc52;
}
/*!************************************************************ header actions *!*/
.header__actions {
    margin: 0 20px 0 10px;
}

.actionsItemsRow {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.actionsItemsRow__item {
    height: 40px;
    margin: 0 5px;
}

.actionsItemsRow__item_leng {
    display: flex;
}

.button__ua {
    color: #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 0 10px;
    width: 40px;
}

.button__ru {
    color: #b4b4b4;
    padding: 0 10px;
    width: 40px;
}

.button__ua:hover,
.button__ru:hover {
    color: #fff;
}

.button__lang_active {
    color: #fff;
}

.button__lang_active:hover {
    color: #ff0000;
}

.button__withText_premium {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100px;
}

.button__text_Premium {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    background-color: #471a7b;
    color: #a27c19;
    border-radius: 5px;
}

.button__withIcon_user {
    background-image: url("img/user.png");
    width: 40px;
    height: 40px;
    background-size: 100%;
    background-color: #fff;
    border-radius: 50%;
}

.button__withIcon_cart {
    background-image: url("img/cart.png");
    width: 40px;
    height: 40px;
    background-size: 70%;
    background-color: #fff;
    border-radius: 50%;
    background-position: 40% 80%;
    background-repeat: no-repeat;
}

/************************************************************ media */
@media (max-width: 1250px) {
    .logo__fullLogo {
        display: none;
    }

    .logo__logoIcon {
        display: block;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 60px;
    }

    .header__catalog {
        display: none;
    }

    .actionsItemsRow__item_leng {
        display: none;
    }

    .actionsItemsRow__item_premium {
        display: none;
    }

    .header__actions {
        margin-left: 10px;
    }
}

@media (max-width: 700px) {
    .header__burger {
        margin: 0 10px;
    }

    .header__logo,
    .button__withIcon_microphone,
    .button__withText_search,
    .actionsItemsRow__item_user {
        display: none;
    }

    .input__field {
        margin: 0;
        border-radius: 5px;
    }

    .header__actions {
        margin: 0 10px;
    }
}

@media (max-width: 567px) {

}